@import url("../../styles/reset.css");

:host {
    display: block;
}

div[role=tablist] {
    border-bottom: 1px dotted var(--border-color);
}

div[role=tablist] button[role=tab] {
    font-family: var(--font-system);
    font-size: 100%;
    background-color: transparent;
    background-image: none;
    border: none;
    padding: 0.5em;
    padding-top: 0.6em;
    margin-left: 0.5em;
    border-bottom: 2px solid transparent;
}

div[role=tablist] button[role=tab][aria-selected=true] {
    font-weight: bold;
    border-bottom: 2px solid black;
}

::slotted(x-tab) {
    display: none;
}

::slotted(x-tab[active]) {
    display: block;
}
