@import url("../../../../styles/reset.css");

:host {
    position: relative;
    display: inline-flex;
    flex-shrink: 0;
}

span {
    /* size and position */
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    width: 1.25rem;
    height: 1.25rem;
    transform: translate(50%, -50%);
    z-index: 10;
    /* colors and fonts */
    color: white;
    background-color: rgb(0, 111, 238);
    border-style: solid;
    border-color: #333333;
    border-width: 2px;
    border-radius: 9999px;
    font-size: 0.875rem;
    line-height: 1.2;
    /* text placement */
    display: flex;
    place-content: center;
    user-select: none;
}
