@import url("./reset.css");
@import url("./components/code-viewer.css");

:root {
    /* https://modernfontstacks.com/ geometric humanist font */
    --font-system: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    /* defaulting to system font: https://css-tricks.com/snippets/css/system-font-stack/ */
    /*--font-system: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
}

html {
    margin:    0 auto;
    max-width: 800px;
}

body {
    font-family: var(--font-system);
    font-weight: normal;
    margin: 1.5em;
    line-height: 1.4;
}

header {
    margin-bottom: 1.5em;
    background-color: white;
}

h1, h2, h3, h4, p {
    margin-bottom: 0.5em;
}

h2 {
    margin-top: 1em;
}

ul {
    padding-left: 2em;
}

dl {
    padding-left: 1.5em;
}

dt {
    margin: 0.5em 0;
}

dd {
    margin-left: 1.5em;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    margin: 1em 0;
    list-style-type: none;
}

nav li {
    margin: 0 -1px -1px 0;
    display: inline-block;
    border: 1px solid black;
    padding: 0.5em;
}

code {
    background-color: lightblue;
    padding: 0.15em 0.25em;
    overflow-wrap: break-word;
}

x-code-viewer {
    border: 1px solid black;
    margin: 1em 0;
    max-height: 20em;
}

iframe {
    display: block;
    width: 100%;
    margin: 1em 0;
}

aside {
    border: 1px dotted black;
    margin: 2em 0;
}

aside h4 {
    background-color: cornsilk;
    padding: 1em;
}

aside p {
    padding: 0.5em 1em;
}