body { 
    font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
    margin: 1em;
}

button { font-family: inherit; font-size: 100%; margin-left: 0.5em; }

santas-form { display: block }
santas-form * { vertical-align: middle; }

santas-app h1 { color: darkred; }
