:root {
    /* https://modernfontstacks.com/
       geometric humanist font */
    --font-system: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    /* monospace code font */
    --font-system-code: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    --font-system-code-size: 0.8rem;

    --border-color: black;

    --code-text-color: black;
    --code-text-color-bg: lightblue;

    --panel-title-color: black;
    --panel-title-color-bg: cornsilk;
}
